@import url(style_estrutura_paginas.css);

/*FORMATANDO SECTION formulario*/
#formulario{
    width: 935px;
    min-height: 600px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
}

h3{
    text-align: center;
    text-transform: uppercase;
    margin: 30px 0px;
    font-family: 'Times New Roman', Times, serif;
}

label{
    display: block;
    margin: 20px 0px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.input01, .input02{
    border: none;
    border-bottom: 1px solid var(--cor_pincipal);
    font-size: 1.3em;
    padding: 5px;
    background-color: rgb(226, 202, 202);
    font-family: 'Times New Roman', Times, serif;
}

.input01{
    width: 800px;
}

.input02{
    width: 400px;
}

#div-btns{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div-btns button{
    width: 150px;
    height: 40px;
    margin-left: 10px 0px;
    background-color: var(--cor_pincipal);
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 0.8em;
    letter-spacing: 5px;
    border-radius: 8px;
}

.oculto{
    display: none;
}